<%= form_for([@plan, @box]) do |f| %>
  <% if @box.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@box.errors.count, "error") %> prohibited this box from being saved:</h2>

      <ul>
      <% @box.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
  <div class="form-group">
    <%= f.label :theme_title %><br>
    <%= f.text_field :theme_title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :subscription %><br>
    <%= f.text_field :subscription, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :starts_at %><br>
    <%= f.datetime_select :starts_at, class: "form-control" %>
  </div>

  <h2> Items for the box </h2>
  <div class="form-group">
     <% 3.times.each do |key| %>
        <h3> Item <%= key %> </h3>
        <%= label_tag 'title' %>
        <%= text_field_tag "box[item_attributes][#{key}][title]" %>
        <%= label_tag 'size' %>
        <%= text_field_tag "box[item_attributes][#{key}][size]" %>
        <%= label_tag 'description' %>
        <%= text_field_tag "box[item_attributes][#{key}][description]" %>
        <br>
      <% end %>         
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
