<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-6">
    <p>
      <h1><strong>Plan Name:</strong></h1>
      <%= @box.plan.name %>
    </p>
    <p>
      <strong>Theme Title</strong>
      <h3><%= @box.theme_title %></h3>
    </p>
    <p>
      <strong>Starts At:</strong>
      <p><%= @box.starts_at %></p>
    </p>
  </div>
</div>



<% if @plan %>
  <%= link_to 'Edit', edit_plan_box_path(@plan, @box), class: "btn btn-link" %>
  <%= link_to 'Destroy', plan_box_path(@plan, @box), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %>
  <br>
  <%= link_to 'New Box', new_plan_box_path(@plan), class: "btn btn-link" %>
  <%= link_to 'Back', plan_boxes_path(@plan) %> |
  <%= link_to 'New', new_plan_box_item_path(@plan, @box) %>
  <% unless @box.shipped? %>
    <%= button_to 'Ship',  plan_box_ship_path(@plan, @box), method: :put, data: { confirm: 'Are you sure to Ship?' }%>
  <% end %>

<% else %>
  <%= link_to 'Edit', edit_box_path(@box), class: "btn btn-link" %>
  <%= link_to 'Destroy', box_path(@box), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %>
   <br>
  <%= link_to 'New Box', new_box_path, class: "btn btn-link" %>
  <%= link_to 'Back', boxes_path %> |
  <% unless @box.shipped? %>
  <%= button_to 'Ship', box_ship_path(@box), method: :put, data: { confirm: 'Are you sure to Ship?' }%>
  <% end %>
<% end %>
