<div class="jumbotron text-center">
  <h1>Welcome to Meowbox</h1>
  <h3>A membership site for toys and treats for their favorite feline!</h3>
</div>
<% if current_user %>
  <div class="row">
    <%= form_tag items_path, :method => 'get' do %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search" %>
    <% end %>
<% end %>
    <div class="col-md-4">
      <div class="well">
        <h2 class="text-center"><%= @plan_1.name %></h2>
        <h4>Sign up for $ <%= @plan_1.rounded_price %> a month</h4>
        <br/>
        <%= link_to "Sign up with Basic", plan_path(@plan_1), class: 'btn btn-primary btn-lg btn-block' %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="well">
        <h2 class="text-center"><%= @plan_2.name %></h2>
        <h4>Sign up for the silver account for $ <%= @plan_2.rounded_price %> a month</h4>
        <%= link_to "Sign up with Silver", plan_path(@plan_2), class: 'btn btn-success btn-lg btn-block' %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="well">
        <h2 class="text-center"><%= @plan_3.name %></h2>
        <h4>Sign up for the gold account for $ <%= @plan_3.rounded_price %> a month</h4>
        <%= link_to "Sign up with Gold", plan_path(@plan_3), class: 'btn btn-success btn-lg btn-block' %>
      </div>
    </div>    
</div>