<%= form_for([@plan, @box, @item]) do |f| %>
  <%= render "shared/errors", object: @item %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_field :description, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :price %><br>
    <%= f.text_field :price, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :image %><br>
    <%= f.file_field :image, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :size %><br>
    <%= f.text_field :size, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :url %><br>
    <%= f.text_field :url, class: "form-control" %>
  </div>
  
  <!-- non-nested route -->
  <% unless params[:box_id] %>
    <div class="form-group">
      <h3>Select A Box</h3>
        <%= f.collection_select :box_id, Box.all, :id, :theme_title %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>

<div id="itemResult">
  <h2 id="itemTitle"></h2>
  <p id="itemDescription"></p>
  <p id="itemPrice"></p>
  <p id="itemImage"></p>
  <p id="itemSize"></p>
  <p id="itemUrl"></p>
</div>
