<p id="notice"><%= notice %></p>
 
 <%= form_tag items_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search" %>
  <% end %>


  <input type="text" name="ajax_search" id="ajax_search"></input> <button id="search_button">Ajax Search</button>


  <script>
    var ready;
    ready = function() {
      function row_html(data) {
        var my_html = "" 
        
        my_html += '<div class="col-md-3">';
        my_html += '  <div class="thumbnail">';
        my_html += '    <img src=""></img>';
        my_html += '    <div class="caption">';
        my_html += '      <h3>' + data.title + '</h3>';
        my_html += '      <p>' + data.description + '</p>';
        my_html += '      <p>number_to_currency(item.price)</p>';
        my_html += '      <p>item.size lbs</p>';
        my_html += '      <p>item.url</p>';
        //    <= link_to 'Show', item_path(item), class: "btn btn-link", class: 'show_details', 'data-id' => item.id >
        my_html += '    </div>';
        my_html += '  </div>';
        my_html += '</div>';

        return my_html;
      }

      $('#search_button').click(function(){
        // ajax request
        console.log('I was here')

        var search = $('#ajax_search').val();
        
        $.ajax({
          url: '<%= api_v1_items_path %>' + '?search=' + search,
          dataType: "json",
          success: function(data, textStatus, jqXHR){
            console.log(data);
            var data_to_html = "";
            for (var i = 0; i < data.length; i++) {
              data_to_html += row_html(data[i]);
            }
            $('#data_list').html(data_to_html);
          }
        });


      });
    }
    $(document).ready(ready);
    $(document).on('turbolinks:load', ready);
  
  </script>

  <%= link_to 'New Item', new_item_path, class: "btn btn-link" %>

<h1>Items Listings</h1>

  <div class="row" id="data_list">
    <% @items.each do |item| %>
      <div class="col-md-3">
        <div class="thumbnail">
          <%= image_tag item.image.url(:medium) %>
          <div class="caption">
            <h3><%= item.title %></h3>
            <p><%= item.description %></p>
            <p><%= number_to_currency(item.price) %></p>
            <p><%= item.size %>lbs</p>
            <p><%= item.url %></p>
            <%= link_to 'Show', item_path(item), class: "btn btn-link", class: 'show_details', 'data-id' => item.id %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<br>
 
<%= paginate @items %>


<div class="modal fade" tabindex="-1" role="dialog" id="myItem">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>
          <strong>Title:</strong>
          <span id="title"></span>
        </p>

        <p>
          <strong>Description:</strong>
          <span id="description"></span>
        </p>

        <p>
          <strong>Price:</strong>
          <span id="price"></span>
        </p>

        <p>
          <strong>Size:</strong>
          <span id="size"></span>
        </p>

        <p>
          <strong>URL:</strong>
          <span id="url"></span>
        </p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


