<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @item.image.url(:medium) %>
</p>

<p>
  <strong>Size:</strong>
  <%= @item.size %>
</p>

<p>
  <strong>URL:</strong>
  <%= @item.url %>
</p>

<% if current_user.admin? %>
  <%= link_to 'Edit', edit_item_path(@item), class: "btn btn-link" %>
  <%= link_to 'Destroy', item_path(@item), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %>
  <%= link_to 'Box of Item', box_path(@item.box), class: "btn btn-link" %>
<% end %>
<%= link_to 'Back', item_path %>

