<%= form_for(@plan) do |f| %>
  <% if @plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
      <% @plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form_for :plan do |f| %>
      Name: <%= f.text_field :name %><br />
      Price : <%= f.text_field :price %><br />
      Description : <%= f.text_area :description %> 
      <%= f.submit %>
    <% end %>
  </div>
<% end %>
