<p id="notice"><%= notice %></p>
<% if current_user.admin? %>
  <%= link_to 'Edit', edit_plan_path(@plan) %> |
  <%= link_to 'View Boxes', plan_boxes_path(@plan) %> |
<% end %>

<%= link_to 'Back', plans_path %>|
<%= link_to 'Users', users_path %><br>

Name: <%= @plan.name %> <br>
Price: $<%= @plan.rounded_price %> <br>
Description: <%= @plan.description %>

<% if current_user.already_registered_for?(@plan) %>
  <%= button_to 'Unsubscribe', user_unsubscribe_path(current_user, plan_name: @plan.name), method: :delete, data: { confirm: 'Are you sure to Unsubscribe?' }%>
<% else %>
  <%= form_tag  user_registrations_path(current_user) do %>  
    <%= hidden_field_tag :plan_name, @plan.name %>
    <%= submit_tag "Subscribe To Plan" %>
  <% end %>
<% end %>

<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Amount: <%= @plan.price  %> </span>
      <%= hidden_field_tag :plan_price, @plan.price %>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.application.secrets.PUBLISHABLE_KEY %>"
          data-description="A month's subscription"
          data-amount="<%= @plan.price * 100 %>"
          data-locale="auto"></script>
<% end %>
